bcrypt
pandas
numpy
beautifulsoup4
pymysql
matplotlib
requests
python-dotenv
fpdf
mysql-connector-python
streamlit==1.38.0
streamlit_extras
streamlit-cookies-manager
streamlit-js-eval
tqdm
google-generativeai
streamlit
transformers
sentence-transformers
langchain
langchain-community
langsmith
tf-keras
lark-parser
qdrant_client
lark
langchain_huggingface
streamlit-searchbox
altair
boto3
awscli
python-jose
pyasn1==0.4.8
pyasn1-modules==0.2.8
fastapi
uvicorn
python-multipart